# Generic ignores
*.log
*.db
*.db-shm
*.db-wal
*.pyc
._*
__pycache__

# Directory (contents) ignores
config/.cloud
config/.storage
config/deps

# Specific file ignores
config/.config_entries.json
config/.homekit.state
config/.ios.conf
config/.spotify-token-cache
config/.uuid
config/core
config/ip_bans.yaml
config/known_devices.yaml
config/options.xml
config/secrets.yaml
config/harmony_lounge_room.conf

# Ignore files created by IDE's
.vscode
.theia
.Trash*

# Specific keeps
!.gitkeep
