---
# SWG Set Status based on results from full status & Power Status
#
platform: template
sensors:
  swg_status_values:
    friendly_name: "SWG Status"
    value_template: >-
      {% if is_state("sensor.swg_power_status", "0") %}
        Off
      {% elif is_state("sensor.swg_status", "0") %}
        On
      {% elif is_state("sensor.swg_status", "1") %}
        No Flow
      {% elif is_state("sensor.swg_status", "2") %}
        Low Salt
      {% elif is_state("sensor.swg_status", "4") %}
        High Salt
      {% elif is_state("sensor.swg_status", "8") %}
        Clean Cell
      {% elif is_state("sensor.swg_status", "9") %}
        Turning Off
      {% elif is_state("sensor.swg_status", "16") %}
        High Current
      {% elif is_state("sensor.swg_status", "32") %}
        Low Volts
      {% elif is_state("sensor.swg_status", "64") %}
        Low Temp
      {% elif is_state("sensor.swg_status", "128") %}
        Check PCB
      {% elif is_state("sensor.swg_status", "254") %}
        No Connection to SWG
      {% elif is_state("sensor.swg_status", "255") %}
        No Connection to SWG
      {%- endif %}